/*
 * Overview: The new instagram logo
 * Author: mittya
 * Code: https://github.com/mittya/css-instagram-logo
 */

 body {
  background-color: #fff;
  background-image:
    linear-gradient(45deg, #d6d6d6 25%, transparent 25%, transparent 75%, #d6d6d6 75%, #d6d6d6),
    linear-gradient(45deg, #d6d6d6 25%, transparent 25%, transparent 75%, #d6d6d6 75%, #d6d6d6);
  background-size: 16px 16px;
  background-position: 0 0, 8px 8px
}

div {
  box-sizing: border-box;
}

.instagram {
  position: relative;
  width: 512px;
  height: 512px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  border-radius: 110px;
  box-shadow: 0 38px 70px rgba(0,0,0,.15);

  background: linear-gradient(
    39deg,
    rgb(255, 184, 52) 0%,
    rgb(190, 32, 161) 18%,
    rgb(215, 28, 116) 63%,
    rgb(146, 21, 155) 89%,
    rgb(150, 18, 180) 100%
  );
}

.purple {
  position: absolute;
  left: 0;
  top: 0;
  width: 512px;
  height: 512px;
  border-radius: 90px;

  background: linear-gradient(
    158deg,
    rgb(46, 65, 209) 0%,
    rgba(103, 72, 189, 0.8) 18%,
    rgba(181, 57, 226, 0.5) 30%,
    rgba(206, 40, 195, 0.56) 35%,
    rgba(215, 27, 115, 0) 82%
  );
}

.red {
  position: absolute;
  left: -230px;
  bottom: -220px;
  width: 800px;
  height: 550px;
  border-radius: 800px / 550px;

  background: radial-gradient(
    ellipse closest-side,
    rgb(253, 62, 33) 0%,
    rgba(236, 57, 30, 0.5) 45%,
    rgba(236, 59, 32, 0.15) 75%,
    rgba(238, 57, 29, 0) 100%
  );
}

.orange {
  position: absolute;
  left: -170px;
  bottom: -110px;
  width: 650px;
  height: 450px;

  background: radial-gradient(
    ellipse closest-side,
    rgb(220, 130, 21) 0%,
    rgba(247, 154, 41, 0.722) 40%,
    rgba(251, 167, 64, 0.342) 60%,
    rgba(252, 186, 45, 0) 100%
  );
}

.yellow {
  position: absolute;
  left: -70px;
  bottom: -195px;
  width: 470px;
  height: 350px;

  background: radial-gradient(
    ellipse closest-side,
    rgb(247, 233, 82) 0%,
    rgba(255, 240, 82, 0.4) 60%,
    rgba(254, 232, 91, 0) 100%
  );
}

.border {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 380px;
  height: 380px;
  margin-left: -190px;
  margin-top: -190px;
  border: 35px solid #fff;
  border-radius: 120px;
  box-shadow: 0 3px 10px rgba(0,0,0,.1), inset 0 6px 10px rgba(0,0,0,.1);
}

.cirlce {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 198px;
  height: 198px;
  margin-left: -99px;
  margin-top: -99px;
  border: 35px solid #fff;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0,0,0,.1), inset 0 6px 10px rgba(0,0,0,.1);
}

.dot {
  position: absolute;
  left: 330px;
  top: 130px;
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
}